<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cwc.demo.dao.MyBatisDao">
   <select id="getUserList" resultType="com.cwc.demo.model.UserInfo">
      select id as "id",
             name as "name",
             sex as "sex"
             from pw_userinfo
   </select>
   
   <select id="queryFile" resultType="com.cwc.demo.model.FileModel">
      select id as "fileId",
             file_name as "fileName",
             file_path as "filePath",
             file_type as "fileType",
             file as "uploadFile",
             update_date as "lastModifyDate"
             from pw_file_info
   </select>
   
   <insert id = "saveFile" parameterType="com.cwc.demo.model.FileModel">
      insert into pw_file_info(id,file_name,file_path,update_date,file_type,file)
      values(#{fileId,jdbcType=VARCHAR},
             #{fileName,jdbcType=VARCHAR},
             #{filePath,jdbcType=VARCHAR},
             #{lastModifyDate,jdbcType=DATE},
             #{fileType,jdbcType=VARCHAR},
             #{uploadFile,jdbcType=BLOB})
   </insert>
   
   <select id="getUserMap" resultType="java.util.HashMap">
       select * from pw_userinfo limit 1
   </select>
   
   <select id = "isExist" parameterType="com.cwc.demo.model.UserInfo" resultType= "java.lang.String">
       SELECT CAST(COUNT(1) AS CHAR) FROM pw_userinfo WHERE login_id = #{loginId,jdbcType=VARCHAR}
   </select>
   
   <select id = "validLogin" parameterType="com.cwc.demo.model.UserInfo" resultType="java.lang.String">
       select password from pw_userinfo where login_id = #{loginId,jdbcType=VARCHAR}
   </select>
</mapper>