<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cwc.business.login.dao.VerificationLogDao">
   
   <select id="getVerificationLog" parameterType="java.lang.String" resultType="com.cwc.business.login.model.VerificationLogDo">
		SELECT
		    send_time AS "sendTime",
		    verification_code AS "verificationCode"
		FROM
		    verification_log
		WHERE
		    recipient = #{recipient,jdbcType=VARCHAR}
		ORDER BY
		    send_time DESC
		LIMIT 1
   </select>
   
   <insert id = "saveVerificationLog" parameterType="com.cwc.business.login.model.VerificationLogDo">
	    INSERT INTO verification_log (
	    recipient,
	    send_time,
	    content,
	    verification_code
		)
		VALUES
		    (
		        #{recipient,jdbcType=VARCHAR},
		        #{sendTime,jdbcType=TIMESTAMP},
		        #{content,jdbcType=VARCHAR},
		        #{verificationCode,jdbcType=INTEGER}
		    )
   </insert>
   
</mapper>