<!DOCTYPE html>
<html>
  <head>
    <title>mainlist.html</title>
	
    <meta name="keywords" content="keyword1,keyword2,keyword3"></meta>
    <meta name="description" content="this is my page"></meta>
    <meta name="content-type" content="text/html; charset=UTF-8"></meta>
    
    <!--<link rel="stylesheet" type="text/css" href="./styles.css">-->
	<link th:href="@{js/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet"/>
    <link th:href="@{js/lib/bootstrap/css/bootstrap-theme.min.css}" rel="stylesheet"/>
    <link th:href="@{js/cwc/css/mainlist.css}" rel="stylesheet"/>
    
    <script th:src="@{js/lib/jquery/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{js/lib/bootstrap/js/bootstrap.min.js}" type="text/javascript"></script>
	<script th:src="@{js/cwc/mainlist.js}" type="text/javascript"></script>
  </head>
  
  <body>
    <input type="hidden" id="loginIp" th:value="${request.ip}"/>
    <input type="hidden" id="loginPort" th:value="${request.port}"/>
    <input type="hidden" id="loginHost" th:value="${request.host}"/>
    <input type="hidden" id="loginPath" th:value="${request.path}"/>
    <input type="hidden" id="loginTime" th:value="${request.time}"/>
   <div class="row">
    <!--
    	作者：291883553@qq.com
    	时间：2017-08-24
    	描述：head内容
    -->
	<div class="navbar navbar-duomi navbar-static-top" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<h3 >超哥系统原型模型</h3>
				
			</div>
			<div class="navbar-right">
					<div style="margin: 5px 100px 0  0;">
					<button class="btn btn-default" type="button" onclick="addCondition()">欢迎赞助我们</button>
					<!-- <button class="btn btn-default" type="button">欢迎加入我们</button> -->
						
					</div>
					
			</div>
		</div>
		<div class="container-fluid">
		
			<ul class="rowUl">
				<li class="rowLi"><h5 >菜单预留模块</h5></li>
				<li class="rowLi"><h5>博客交流</h5></li>
				<li class="rowLi"><h5>游戏开发</h5></li>
				<li class="rowLi"><h5>评论测试开发</h5></li>
				<li class="rowLi"><h5>学习资料集合</h5></li>	
			</ul>				
		
			
		</div>
	</div>
	<!--
    	作者：291883553@qq.com
    	时间：2017-08-24
    	描述：轮播模块
    -->
	
	
	<div id="god" class="godcontrol">

<div style="width: 100%;display: inline-block;">
	<div id="big" class="carousel slide">
	<!-- 轮播（Carousel）指标 -->
	<ol class="carousel-indicators">
		<li data-target="#big" data-slide-to="0" class="active"></li>
		<li data-target="#big" data-slide-to="1"></li>
		<li data-target="#big" data-slide-to="2"></li>
	</ol>   
	<!-- 轮播（Carousel）项目 -->
	<div id="content" class="carousel-inner Carouselbody" style="margin: 0 auto;">
		<div class="item active">
			<div class="LabelDemo"><label>挥之不去的青春</label></div>
			
			<label class="LabelDesc">青春是青涩的，也是难忘的，即便过去了，<br/>也依旧会成为一个人美好的回忆</label>
		</div>
		<div class="item">
			<div class="LabelDemo"><label>看不清楚的未来</label></div>
			<div class="LabelDesc">看的清楚的未来才可怕,<br/>或许你也同我一样，<br/>曾经的满腔热血无数不甘被一点一点的蚕食吞没</div>
		</div>
		<div class="item">
			<div class="LabelDemo"><label>我们为代码而生</label></div>
			<label class="LabelDesc">Hello World,It is my World。</label>
		</div>
	</div>
	<!-- 轮播（Carousel）导航 -->
	
</div>
	
	
</div>


</div>


		<div class="row">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
				<center>
				<lable><h4>最牛逼、最帅、超哥集团教你做网站</h4></lable><br/>
				<lable><h4>这里有牛逼的后台Java程序猿,还有最具创意的产品经理，<br/>还有美丽的戏精hr，程序员鼓励师随时陪伴身边，当然还有我，浠一汐遴联合合资企业董事长兼任ceo的我</h4></lable>
				</center>
				
				</div>

		</div>
		<div class="row">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
						<ul class="ullayout">
							<li>
								<div class="lilayout">
								<h1><icon class="glyphicon glyphicon-eye-open bigicon"></icon></h1>
								共享单车
								</div>
						
							</li>
							<li>
								<div class="lilayout">
								<h1><icon class="glyphicon glyphicon-road bigicon"></icon></h1>
								高铁
								</div>
						
							</li>
							<li>
								<div class="lilayout">
								<h1><icon class="glyphicon glyphicon-shopping-cart bigicon"></icon></h1>
								网购
								</div>
							</li>
							<li>
								<div class="lilayout">
									<h1><icon class="glyphicon glyphicon-adjust bigicon"></icon></h1>
								支付宝
								</div>
							</li>
						</ul>
				
				</div>

		</div>
		<div class="row">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
						<center><h1>我都不会，也不一定会超越</h1></center>
				
				</div>

		</div>
		<div class="row" class="divbox">
				<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12">
						<ul class="boxul">
							<li>
								<div class="item-box">
            						<div class="img-area">
              							<img src="https://img.alicdn.com/tfs/TB1qJ0pmjihSKJjy0FlXXadEXXa-760-461.jpg" alt="" class="normal-img">
            						</div>
            						<div class="box-header">
              						<p>
                						【解读】一目了然，阿里云最新产品集锦
              							</p>
            						</div>
         					 	</div>
		
							</li>
							<li>
								<div class="item-box">
            						<div class="img-area">
              							<img src="https://gw.alicdn.com/tfs/TB1LvdJhwMPMeJjy1XdXXasrXXa-760-460.jpg" alt="" class="normal-img">
            						</div>
            						<div class="box-header">
              						<p>
                						【解读】一目了然，阿里云最新产品集锦
              							</p>
            						</div>
         					 	</div>
						
							</li>
							<li>
								<div class="item-box">
            						<div class="img-area">
              							<img src="https://img.alicdn.com/tfs/TB1cR8smjihSKJjy0FlXXadEXXa-760-459.jpg" alt="" class="normal-img">
            						</div>
            						<div class="box-header">
              						<p>
                						【解读】一目了然，阿里云最新产品集锦
              							</p>
            						</div>
         					 	</div>
							</li>
						</ul>
				
				</div>

		</div>
		
	<!--
    	作者：291883553@qq.com
    	时间：2017-08-24
    	描述：左侧导航栏
    -->
<!-- 	<div class="container-fluid">
		<div class="row">
			<div class="col-md-2">
				<ul id="main-nav" class="nav nav-tabs nav-stacked" style="">
					<li class="active">
						<a href="#Home" data-toggle="tab">
							<i class="glyphicon glyphicon-th-large"></i> 首页
						</a>
					</li>
					<li>
						<a href="#systemSetting" class="nav-header collapsed" data-toggle="collapse"  >
							<i class="glyphicon glyphicon-cog"></i> 系统管理
							<span class="pull-right glyphicon glyphicon-chevron-down"></span>
						</a>
						<ul id="systemSetting" class="nav nav-list collapse secondmenu" style="height: 0px;">
							<li>
								<a href="#"><i class="glyphicon glyphicon-user"></i>用户管理</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-th-list"></i>菜单管理</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-asterisk"></i>角色管理</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-edit"></i>修改密码</a>
							</li>
							<li>
								<a href="#"><i class="glyphicon glyphicon-eye-open"></i>日志查看</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#MovieMusic" data-toggle="tab">
							<i class="glyphicon glyphicon-credit-card"></i> 视频音乐
						</a>
					</li>
					<li>
						<a href="#Cartoon" tabindex="-1" data-toggle="tab">
							<i class="glyphicon glyphicon-globe"></i> 动漫专区
							<span class="label label-warning pull-right">5</span>
						</a>
					</li>
					<li>
						<a href="#Games" tabindex="-1" data-toggle="tab">
							<i class="glyphicon glyphicon-calendar"></i> 游戏娱乐
						</a>
					</li>
					<li>
						<a href="#Loading" tabindex="-1" data-toggle="tab">
							<i class="glyphicon glyphicon-fire"></i> 云盘系统
						</a>
					</li>
					<li>
						<a href="#Author" tabindex="-1" data-toggle="tab">
							<i class="glyphicon glyphicon-fire"></i> 关于我们
						</a>
					</li>
					
					
				</ul>
			</div>
			<div class="col-md-10">
				
				
				
                	作者：291883553@qq.com
                	时间：2017-08-24
                	描述：模块内容部分
               
			<div id="myTabContent" class="tab-content">
				<div class="tab-pane fade in active" id="Home">
					<p>我是一只小小小菜鸟，菜鸟飞啊飞飞很高啊，一不小心摔死了，谁来给他辅导</p>
					<div class="row">	
						<center><label><p><h3>系统待开发模块</h3></p>					
								</label>
								</center>	
					</div>
					<div class="row">
						<ul class="ullayout">
							<li>
								<div class="lilayout">文件</div>
						
							</li>
							<li>
								<div class="lilayout">视频</div>
						
							</li>
							<li>
								<div class="lilayout">图片</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
                	作者：291883553@qq.com
                	时间：2017-08-24
                	描述：音乐视频模块
               
				<div class="tab-pane fade" id="MovieMusic">
					<p>我就是停不下来，你说什么我听不见</p>
					<div class="row">	
						<center><label><p><h3>视频音乐</h3></p>						
								</label>
						</center>		
					</div>
					<div class="row">
						<ul class="ullayout">
							<li>
								<div class="lilayout">文件</div>
						
							</li>
							<li>
								<div class="lilayout">视频</div>
						
							</li>
							<li>
								<div class="lilayout">图片</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
                	作者：291883553@qq.com
                	时间：2017-08-24
                	描述：动漫模块
               
				<div class="tab-pane fade" id="Cartoon">
					<p>回忆过去，飙车的少年忘不了</p>
					<div class="row">	
						<center><label><p><h3>动漫模块</h3></p>						
								</label>
						</center>		
					</div>
					<div class="row">
						<ul class="ullayout">
							<li>
								<div class="lilayout">文件</div>
						
							</li>
							<li>
								<div class="lilayout">视频</div>
						
							</li>
							<li>
								<div class="lilayout">图片</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
                	作者：291883553@qq.com
                	时间：2017-08-24
                	描述：游戏
               
				<div class="tab-pane fade" id="Games">
					<p>不要看我，我不是一个爱玩的少年，嘿嘿嘿
					</p>
					<div class="row">	
						<center><label><p><h3>游戏模块</h3></p>						
								</label>
						</center>		
					</div>
					<div class="row">
						<ul class="ullayout">
							<li>
								<div class="lilayout">文件</div>
						
							</li>
							<li>
								<div class="lilayout">视频</div>
						
							</li>
							<li>
								<div class="lilayout">图片</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
                	作者：291883553@qq.com
                	时间：2017-08-24
                	描述：云盘
               
				<div class="tab-pane fade" id="Loading">
					
					<div class="row">	
						<center><label><p><h3>系统待开发模块</h3></p>						
								</label>
						</center>		
					</div>
					<div class="row">
						<ul class="ullayout">
							<li>
								<div class="lilayout">文件</div>
						
							</li>
							<li>
								<div class="lilayout">视频</div>
						
							</li>
							<li>
								<div class="lilayout"><a href="index">图片</a></div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
				
                	作者：291883553@qq.com
                	时间：2017-08-24
                	描述：关于我们
               
				<div class="tab-pane fade" id="Author">
					
					<div class="row">	
						<center><label><p><h3>我们是一个大家族</h3></p>						
								</label>
						</center>		
					</div>
					<div class="row">
						<ul class="ullayout">
							<li>
								<div class="lilayout">ysc</div>
						
							</li>
							<li>
								<div class="lilayout">cwc</div>
						
							</li>
							<li>
								<div class="lilayout">飙车老司机</div>
							</li>
							
						</ul>
						
					</div>
				</div>
				
			</div>
				
				
				
				
			</div>
		</div>
	</div> -->

</div>
   
   <!-- 模态框逗逼模块 -->
   <div class="modal fade" id="dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px">
        <div class="modal-content" >
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">欢迎赞助我们哦</h4>
            </div>
            <div class="modal-body">
            	<center>
            <img th:src="@{js/cwc/css/img/money3.jpg}" /> <img th:src="@{js/cwc/css/img/money2.jpg}" />
            	</center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
      
            </div>
        </div>
    </div>
</div>
   <script>
	$(function(){
		
		$('#big').carousel({
	interval: 2000
})
		$('#content').carousel('pause')
		
	})
	
	
	
</script>
  </body>
</html>
